.lighter {
    background-color: $background-color-lighter;
}
.red {
    background-color: $primary-background-color;
}
.light {
    background-color: $background-color-light;
}
.dark {
    background-color: $background-color-dark;
}
.montserrat {
    font-family: $primary-font;
}
.open-sans {
    font-family: $semiprimary-font;
}