footer {
    .footer {
        padding-top: 27px;
        .navigation {
            h1 {
                font-size: 16px;
                div {
                    font-size: 24px;
                }
            }
            nav {
                padding: unset;
            }
        }
        .arrow {
            margin-top: unset;

        } 
    }
}