html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

.lighter {
  background-color: #EEEEEE;
}

.red {
  background-color: #ED1C24;
}

.light {
  background-color: #DBDBDB;
}

.mid {
  background-color: #898989;
}

.dark {
  background-color: #111111;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1920px) {
  section {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
  section.component-1 .grid {
    display: grid;
    grid-template-columns: 200px 350px 1fr;
    grid-template-rows: 422px 62px;
  }
  section.component-1 .grid .red {
    position: relative;
    padding: 26px 35px 0 33px;
  }
  section.component-1 .grid .red h1 {
    font-weight: bold;
    font-size: 18px;
    color: white;
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    display: flex;
    margin-bottom: 46px;
  }
  section.component-1 .grid .red h1 div {
    padding: 5px 9px;
    border: 3px solid white;
    color: white;
    font-size: 32px;
    margin-right: 7px;
  }
  section.component-1 .grid .red .block {
    width: 100px;
    height: 20px;
    font-size: 10px;
    line-height: 19px;
    color: white;
    text-align: center;
    margin-bottom: 3px;
  }
  section.component-1 .grid .red h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    padding-left: 3px;
    padding-bottom: 14px;
    color: white;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -0.9px;
    margin-bottom: 17px;
  }
  section.component-1 .grid .red h2 span {
    font-size: 22px;
  }
  section.component-1 .grid .red .par {
    font-size: 16px;
    line-height: 20px;
    color: white;
    letter-spacing: 0.1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    padding-bottom: 20px;
    margin-bottom: 18px;
  }
  section.component-1 .grid .red .flex {
    display: flex;
    align-items: center;
  }
  section.component-1 .grid .red .flex span {
    font-size: 18px;
    color: white;
    margin-left: 9px;
  }
  section.component-1 .grid .red .icon-box {
    position: absolute;
    bottom: -1px;
    right: -3px;
  }
  section.component-1 .grid .red .icon-box div {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.452);
  }
  section.component-1 .grid .red .icon-box div img {
    opacity: 0.5;
  }
  section.component-1 .grid .red .icon-box div img:hover {
    opacity: 1;
    filter: brightness(0);
  }
  section.component-1 .grid .red .burger-bar {
    display: none;
  }
  section.component-1 .grid div:nth-child(3) .dark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 58px;
  }
  section.component-1 .grid div:nth-child(3) .dark .line {
    width: 27px;
    height: 6px;
    background-color: white;
  }
  section.component-1 .grid div:nth-child(3) .dark .line:not(:last-child) {
    margin-bottom: 5px;
  }
  section.component-1 .grid .span {
    grid-column: 2 span;
  }
  section.component-1 .grid .dark {
    position: relative;
  }
  section.component-1 .grid .dark .left-right {
    display: flex;
    position: absolute;
    right: 200px;
  }
  section.component-1 .grid .dark .left-right i {
    border: 1px solid rgba(255, 255, 255, 0.452);
    border-top: unset;
    border-bottom: unset;
    color: rgba(255, 255, 255, 0.856);
    font-size: 24px;
    padding: 18px 20px;
  }
  section.component-1 .grid .dark .left-right i:hover {
    color: #ED1C24;
  }

  .component-2 {
    display: grid;
    grid-template-columns: 200px 350px 1fr;
  }
  .component-2 .par-container {
    padding: 40px 0 116px 48px;
  }
  .component-2 .par-container .par-header {
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: -0.5px;
    color: #111111;
    margin-bottom: 40px;
  }
  .component-2 .par-container .underlined-par {
    max-width: 571px;
    width: 90%;
    margin-bottom: 30px;
  }
  .component-2 .par-container .underlined-par span {
    font-size: 20px;
    line-height: 30px;
    color: #111111;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 3px;
  }
  .component-2 .par-container .two-col {
    max-width: 551px;
    width: 95%;
    column-count: 2;
    column-gap: 34px;
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    margin-bottom: 30px;
  }
  .component-2 .par-container .two-col .mobile-br {
    display: none;
  }
  .component-2 .par-container .light-par {
    max-width: 543px;
    width: 90%;
    font-size: 14px;
    line-height: 20px;
  }

  .component-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 518px;
  }
  .component-3 .desktop-display {
    display: none;
  }
  .component-3 .white-block {
    max-width: 622px;
    width: 45%;
    height: 408px;
    background-color: white;
    margin-right: 30px;
  }
  .component-3 .gallery .par-header {
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: -0.5px;
    color: white;
    line-height: 16px;
    margin-bottom: 46px;
  }
  .component-3 .gallery .gallery-blocks {
    display: grid;
    grid-template-columns: repeat(3, 107px);
    grid-template-rows: repeat(3, 100px);
    row-gap: 20px;
    column-gap: 15px;
  }
  .component-3 .gallery .gallery-blocks .small-block {
    background-color: white;
    border: 7px solid white;
  }
  .component-3 .gallery .gallery-blocks .small-block:hover {
    border-color: #ED1C24;
    box-shadow: inset 0 0 10px #000;
  }
}
@media (max-width: 1023px) {
  section.component-1 .grid {
    grid-template-columns: 40px 345px 1fr;
  }
  section.component-1 .grid .span {
    grid-column: 1 span;
  }
  section.component-1 .grid .responsive-span {
    grid-column: 2 span;
  }
  section.component-1 .grid .dark .left-right {
    right: 38px;
  }

  .component-2 {
    grid-template-columns: 1fr;
  }
  .component-2 .light,
.component-2 .mid {
    display: none;
  }
  .component-2 .par-container {
    padding: 40px 0 66px 90px;
  }
  .component-2 .par-container .two-col {
    column-gap: 38px;
  }
  .component-2 .par-container .light-par {
    max-width: 586px;
  }

  .component-3 {
    flex-direction: column;
    height: 571px;
  }
  .component-3 .desktop-display {
    display: block;
    max-width: 592px;
    width: 87%;
    text-align: start;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: -0.5px;
    color: white;
    line-height: 16px;
    margin-bottom: 33px;
  }
  .component-3 .white-block {
    max-width: 592px;
    width: 87%;
    height: 296px;
    margin-right: unset;
    margin-bottom: 24px;
  }
  .component-3 .gallery .tablet-display {
    display: none;
  }
  .component-3 .gallery .gallery-blocks {
    grid-template-columns: repeat(5, 107px);
    grid-template-rows: 100px;
  }
}
@media (max-width: 767px) {
  section.component-1 .grid {
    grid-template-columns: 1fr 271px 1fr;
    grid-template-rows: 424px 63px;
  }
  section.component-1 .grid .red {
    padding: 26px 32px 0 26px;
  }
  section.component-1 .grid .red h1 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 58px;
  }
  section.component-1 .grid .red h1 div {
    padding: 3px 7px;
    font-size: 25px;
  }
  section.component-1 .grid .red .block {
    margin-left: 8px;
  }
  section.component-1 .grid .red h2 {
    margin-left: 8px;
  }
  section.component-1 .grid .red .par {
    font-size: 14px;
    margin-left: 8px;
  }
  section.component-1 .grid .red .flex {
    margin-left: 8px;
  }
  section.component-1 .grid .red .flex span {
    font-size: 16px;
  }
  section.component-1 .grid .red .icon-box {
    bottom: 0;
    left: 48%;
    transform: translate(-50%, 0);
  }
  section.component-1 .grid .red .icon-box div {
    height: 42px;
  }
  section.component-1 .grid .red .burger-bar {
    display: block;
    position: absolute;
    top: 14px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 58px;
  }
  section.component-1 .grid .red .burger-bar .line {
    width: 27px;
    height: 6px;
    background-color: white;
  }
  section.component-1 .grid .red .burger-bar .line:not(:last-child) {
    margin-bottom: 5px;
  }
  section.component-1 .grid div:nth-child(3) .dark {
    display: none;
  }
  section.component-1 .grid .span {
    grid-column: 3 span;
    background-color: #111111;
  }
  section.component-1 .grid .dark .left-right {
    display: none;
  }

  .component-2 {
    padding-bottom: 56px;
  }
  .component-2 .par-container {
    padding: unset;
    text-align: center;
    padding: unset;
  }
  .component-2 .par-container .par-header {
    font-size: 24px;
    margin-bottom: 19px;
    margin-top: 32px;
  }
  .component-2 .par-container .underlined-par {
    width: 100%;
    font-size: 19px;
    margin-bottom: 22px;
    padding: 0 9px;
  }
  .component-2 .par-container .two-col {
    padding: 0px 22px;
    width: 100%;
    column-count: 1;
    margin-bottom: 5px;
  }
  .component-2 .par-container .two-col .mobile-br {
    display: block;
  }
  .component-2 .par-container .light-par {
    padding: 0px 22px;
    width: 100%;
  }

  .component-3 {
    justify-content: flex-start;
    padding-top: 40px;
    height: 360px;
  }
  .component-3 .desktop-display {
    font-size: 24px;
    text-align: center;
    margin-bottom: 42px;
  }
  .component-3 .white-block {
    width: 85.5%;
    height: 190px;
  }
  .component-3 .gallery {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
